*.py[cod]

# doc builds
docs/_build/*
docs/_build/*/*
docs/_build/*/*/*
docs_build/*

# C extensions
*.so

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea/*

# doc html folder

temp_dir

run_data
amset.log

examples/*/*.png
examples/*/*transport*
examples/*/*mesh*

test-vasp
docs_build
docs/src/reference/atomate2.*
docs/reference/atomate2.*

.vscode/

.DS_Store

# vim extensions
*.swp
*.swo

# see https://github.com/materialsproject/atomate2/issues/345
*.doctrees*

.ipynb_checkpoints
.aider*
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.bandProjections
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.d_tot
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.dosDn
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.dosUp
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.Ecomponents
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.eigenvals
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.eigStats
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.fillings
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.force
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.n_dn
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.n_up
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.tau_dn
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.tau_up
tests/test_data/jdftx/bulk_min_test/job_2025-01-05-21-21-23-177791-91252/jdftx.wfns
tests/test_data/vasp/Si_phonons_3/dielectric/inputs/INCAR.gz
tests/test_data/vasp/Si_phonons_3/dielectric/inputs/KPOINTS.gz
tests/test_data/vasp/Si_phonons_3/dielectric/inputs/POSCAR.gz
tests/test_data/vasp/Si_phonons_3/dielectric/inputs/POTCAR.spec.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/CONTCAR.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/custodian.json.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/INCAR.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/INCAR.orig.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/OUTCAR.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/POSCAR.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/POSCAR.orig.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/POTCAR.spec.gz
tests/test_data/vasp/Si_phonons_3/dielectric/outputs/vasprun.xml.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/inputs/INCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/inputs/KPOINTS.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/inputs/POSCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/inputs/POTCAR.spec.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/CONTCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/custodian.json.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/INCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/INCAR.orig.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/OUTCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/POSCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/POSCAR.orig.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/POTCAR.spec.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_1/outputs/vasprun.xml.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/inputs/INCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/inputs/KPOINTS.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/inputs/POSCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/inputs/POTCAR.spec.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/CONTCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/custodian.json.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/INCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/INCAR.orig.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/OUTCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/POSCAR.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/POSCAR.orig.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/POTCAR.spec.gz
tests/test_data/vasp/Si_phonons_3/tight_relax_2/outputs/vasprun.xml.gz
